/* BASE */
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  line-height: 1.4;
  font-family: sans-serif;
  position: relative;
}

.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.hidden {
  display: none;
}


/* CLEARFIX (from: https://css-tricks.com/snippets/css/clear-fix/) */
.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/* HELPERS */
.max-height--100 {
  max-height: 100%;
}

.font-size--2 {
  font-size: 2em;
}

.max--100 {
  max-width: 100%;
  max-height: 100%;
}

.center {
  text-align: center;
}

.margin--auto {
  margin: auto;
}

.cursor--pointer {
  cursor: pointer;
}

.left {
  float: left;
}
.right {
  float: right;
}

.bg--dark {
  background-color: rgba(10, 10, 10, 0.5);
}
.bg--darker {
  background-color: rgba(10, 10, 10, 0.9);
}
.transition {
  transition: all 300ms ease-in-out;
}


/* GALLERY COMPONENTS */
.gallery {
  padding: 20px;
}

.image-container {
  margin-right: 5px;
  margin-bottom: 5px;
  position: relative;
  overflow: hidden;
  height: 240px;
}

.image-meta {
  color: white;
  position: relative;
  top: -1.5em;
  padding: 2px 4px;
  width: 100%;
}


/* PREVIEW COMPONENTS */
.preview-container {
  position: absolute;
  min-height: inherit;
  top: 0;
  left: 0;
  right: 0;
}

.preview-image-container {
  display: block;
  max-width: 90%;
  max-height: 90%;
  margin: 5% auto;
  overflow: hidden;
}

.preview-controls {
  padding: 0 20px;
  text-align: center;
  width: auto;
}

.preview-arrow {
  position: relative;
  top: -2px;
}

.preview-title {
  margin: 0 40px;
}

.btn--close {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 0.1em;
  padding-right: 0.4em;
  font-size: 3em;
}


/* CSS TRANSITIONS */
.preview-container {
  opacity: 1;
  z-index: 300;
}

.preview-image-container {
  transform: scale(1);
}

.preview-container.hidden {
  display: block;
  opacity: 0;
  z-index: -1;
}

.preview-container.hidden > .preview-image-container {
  transform: scale(0.9);
}


/* GRID VIEW TOGGLE */
#is-grid-view:checked ~ .gallery .image-container {
  text-align: center;
  width: 200px;
}
#is-grid-view:checked ~ .gallery .image-meta {
  width: auto;
  top: -1.4em;
}
